body {
	font-size: 12px;
	font-family: sans-serif;
	background: #131D1C;
}

section{
    width: 98vw;
    height: 100vh;
    margin: 0 auto;
    padding: 35px;
}

.aboutme{
    margin-top: 150px;
}

.card-profile{
    position: absolute;
    top: 50%;
    left: 25%;
    height: 400px;
    width: 300px;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 600px;
    transition: .5s;
}

.card-profile:hover .card-front{
    transform: rotateX(-100deg);
}

.card-profile:hover .card-back{
    transform: rotateX(0deg);
}

.card-front{
    height: 100%;
    width: 100%;
    background-image: url(./img_profile.jpg);
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: .5s;
}

.card-back{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: .5s;
    color: #ffffff;
    text-align: center;
}

.card-back h2{
    margin: 50% auto 35% auto;
    font-size: 26px;
}

.card-back h2 span{
    font-size: 20px;
}

.card-back a{
    height: 20px;
    width: 20px;
    padding: 5px 5px;
    border-radius: 4px;
    line-height: 20px;
}

.card-back a:hover{
    color: #000000;
    background-color: #fff;
}

.content-about{
    padding-left: 45%;
    padding-top: 8%;
    padding-bottom: 10%;
    padding-right: 10%;
    color: white;
    width: 100%;
}

.about-tittle{
    font-size: 28px;
    color: #01E596
}

.about-text{
    font-size: 16px;
    text-align: justify;
}

.social-container {
    height: 20vh;
    text-align: center;
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 0.5em;
}

.social-icons li{
    display: inline-block;
    margin: 3.15em;
    position: relative;
    font-size: 1.2em;
}

.social-icons i{
    color: #fff;
    position: absolute;
    top: 21px;
    left: 21px;
    transition: all 265ms ease-out;
}

.social-icons a{
    display: inline-block;
}

.social-icons a ::before{
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #01E596, rgb(0, 63, 41));
    transition: all 265ms ease-out;
}

.social-icons a :hover ::before{
    transform: scale(0);
    transition: all 265ms ease-in;
}

.social-icons a :hover i{
    color: #01E596;
    background: -webkit-linear-gradient(45deg, #01E596, rgb(0, 63, 41));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
}